#{extends 'main.html' /}
#{set title:'Gestion discotecas' /}
<script language="javascript">
function volver(){
	document.getElementById('gestionDiscotecaForm').action='/menuDiscotecas';
	document.getElementById('gestionDiscotecaForm').submit();
}

</script> 
<form id="gestionDiscotecaForm" action="@{GetDiscotecasByName.getDiscotecasByNameHtml()}" method="POST">
	<table>
		<tr>
			<td colspan="3"><h1>Busqueda de discotecas</h1></td> 
		</tr>
		<tr>
			<td colspan="3">
				<fieldset>
					<table>
						<tr>
							<td>Nombre de la discoteca</td>
							<td><input type="text" name="name"/></td>
							<td><input type="submit" value="Busca"/></td>
						</tr>
					</table>
				</fieldset>
			</td>
		</tr>
		<tr>
			<td colspan="3"><input type="button" value="Volver" onclick="javascript:volver();"/></td>
		</tr>
	</table>
</form>