#{extends 'main.html' /}
#{set title:'Alta discoteca' /}
<script type="text/javascript">
function volver(){
	document.getElementById('altaDiscotecaForm').action='/gestionDiscotecas';
	document.getElementById('altaDiscotecaForm').submit();
}
</script>
 
<form id="altaDiscotecaForm" action="@{GestionDiscoteca.modificaDiscoteca()}" method="POST">
	<table>
		<tr>
			<td colspan="2"><h1>Formulario de alta de discoteca</h1></td> 
			<td><input type="button" value="Logout" onclick="javascript:logout();"/></td> 
		</tr>
		<tr>
			<td>Nombre de la discoteca</td>
			<td colspan="2"><input type="text" name="nombre" value="${discotecaDTO.nombre}"/></td>
		</tr>
		<tr>
			<td>Descripcion discoteca</td>
			<td colspan="2"><textarea rows="10" cols="25" name="descripcion">${discotecaDTO.descripcion}</textarea></td>
		</tr>
		<tr>
			<td>Latitud</td>
			<td colspan="2"><input type="text" name="latitud" value="${discotecaDTO.latitud}" /></td>
		</tr>
		<tr>
			<td>Longitud</td>
			<td><input type="text" name="longitud" value="${discotecaDTO.longitud}" /></td>
		</tr>
		<tr>
			<td><input type="submit" value="Modifica" /></td>
			<td colspan="2"><input type="button" value="Volver" onclick="javascript:volver();"/></td>
		</tr>
	</table>
    <input type="hidden" id="idDiscoteca" value="${discotecaDTO.idDiscoteca}" name="idDiscoteca"/>
    <input type="hidden" name="nombreFormulario" id="nombreFormulario" value="altaDiscotecaForm"/>
</form> 