#{extends 'main.html' /}
#{set title:'Edita discoteca' /}
 
<form action="@{MenuDiscotecas.verMenuDiscotecas()}" method="GET" id="errorEncontrarForm">
    <table>
    	<tr>
    		<td colspan="2"><h1>Error al encontrar la discoteca a modificar</h1></td>
    		<td><input type="button" value="Logout" onclick="javascript:logout();"/></td> 
    	</tr>
    	<tr>
    		<td colspan="3"><input type="submit" value="Volver" /></td>
    	</tr>
    </table>
    <input type="hidden" name="nombreFormulario" id="nombreFormulario" value="errorEncontrarForm"/>
</form> 