#{extends 'main.html' /}
#{set title:'Login' /}
 
<form id="altaDiscotecaForm" action="@{MenuDiscotecas.login()}" method="POST">
	<table>
		<tr>
			<td colspan="2"><h1>Error de Login, usuario o password incorrectos</h1></td> 
		</tr>
		<tr>
			<td>Usuario</td>
			<td><input type="text" name="usuario" /></td>
		</tr>
		<tr>
			<td>Password</td>
			<td><input type="password" name="password" /></td>
		</tr>
		<tr>
			<td colspan="2"><input type="submit" value="Login"/></td>
		</tr>
	</table>
</form>