#{extends 'main.html' /}
#{set title:'Menu discoteca' /}
 
<script language="javascript">
function altaDiscoteca(){
	document.getElementById('menuDiscotecaForm').action='/altaDiscoteca';
	document.getElementById('menuDiscotecaForm').submit();
}
function gestionDiscoteca(){
	document.getElementById('menuDiscotecaForm').action='/gestionDiscotecas';
	document.getElementById('menuDiscotecaForm').submit();
}
</script>
 
<form id="menuDiscotecaForm" action="@{AltaDiscoteca.verAltaDiscoteca()}" method="GET">
    <h1>Menu Discotecas</h1>
    <input type="button" value="Alta" onclick="javascript:altaDiscoteca();" />
    <input type="button" value="Gestion" onclick="javascript:gestionDiscoteca();"/>
</form> 