#{extends 'main.html' /}
#{set title:'Alta discoteca' /}
<script type="text/javascript">
function volver(){
	document.getElementById('altaUsuarioForm').action='/verGestionUsuario?usuario=${usuario}';
	document.getElementById('altaUsuarioForm').submit();
}
</script>
 
<form id="altaUsuarioForm" action="@{usuarios.GestionUsuario.modificaUsuario()}" method="POST">
	<table>
		<tr>
			<td colspan="2"><h1>Formulario de alta de Usuario</h1></td> 
			<td><input type="button" value="Logout" onclick="javascript:logout();"/></td> 
		</tr>
		<tr>
			<td>Identificador de usuario</td>
			<td colspan="2">${user.id}</td>
		</tr>
		<tr>
			<td>Usuario</td>
			<td colspan="2"><input type="text" name="usuario" id="usuario" value="${user.usuario}"/></td>
		</tr>
		<tr>
			<td>Password</td>
			<td colspan="2"><input type="text" name="password" id="password" value="${user.password}"/></td>
		</tr>
		<tr>
			<td>Email</td>
			<td colspan="2"><input type="text" name="password" id="password" value="${user.email}"/></td>
		</tr>
		<tr>
			<td>Perfil</td>
			<td>
				<select name="perfil" id="perfil">
					#{if user.perfil=='N'}
					    <option name="N" selected="selected">N</option>
					#{/if}
					#{else}
						<option name="N">N</option>
					#{/else}
					#{if user.perfil=='A'}
					    <option name="A" selected="selected">A</option>
					#{/if}
					#{else}
						<option name="A">A</option>
					#{/else}
				</select>
			</td>
		</tr>
		<tr>
			<td><input type="submit" value="Modifica" /></td>
			<td colspan="2"><input type="button" value="Volver" onclick="javascript:volver();"/></td>
		</tr>
	</table>
    <input type="hidden" id="idUsuario" value="${user.id}" name="idUsuario"/>
    <input type="hidden" name="nombreFormulario" id="nombreFormulario" value="altaUsuarioForm"/>
</form> 